<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookedIn</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid rgb(235, 235, 235);" th:object="${user}">
      <a class="navbar-brand px-2" href="/index" style="font-size: 1.4em;">📖 BookedIn</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >

        <form autocomplete="off" action="/action_page.php">
          <div class="autocomplete" style="width:200px;">
            <input id="myInput" type="text" name="myCountry" placeholder="Search for users" class="user-input form-control">
          </div>
          <button class="btn btn-outline-secondary" onclick="userSearch()" style="margin-bottom: 2px;">Submit</button>
        </form>



        <ul class="navbar-nav ms-auto">



          <li class="nav-item">
            <a class="nav-link pe-3" href="/search" style="border-right: 1px solid lightgrey; color: black;">Search Books</a>
          </li>
        </ul>
        <!--
        <form class="d-flex" role="search" style="margin-left: auto; margin-right: auto;">
          <input class="form-control me-2" type="search" placeholder="Search users" aria-label="Search" id="user-search-input">
          <button class="btn btn-outline-success" type="submit" onclick="userSearch(event)">Search</button>
        </form>
        -->
      </div>
      <span style="margin-right: 25px;" class="ms-3">Signed in as <b><a th:href="'/users/' + ${user.username}"><span th:text="${user.username}"></span></a></span></b>
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-sm btn-danger me-2"/>
      </form>
    </nav>

    <main>
      <div class="container-sm py-5" th:object="${profile}">
        <div class="row">
          <div class="col-2">
            <img th:src="${profile.avatar_url == ''} ? 'https://www.refugee-action.org.uk/wp-content/uploads/2016/10/anonymous-user.png' : ${profile.avatar_url}" alt="" width="100%">
          </div>
          <div class="col-8">
            <h1 th:text="${profile.username}" style="display: inline-block;"></h1>
            <small th:if="${profile.account_type.account_type == 'ADMIN'}" style="display: inline-block;" class="text-danger">Admin</small>
            <p><b>Account Created: </b><span th:text="${profile.date_joined}"></span></p>
            <p><b>Country: </b><span th:text="${profile.country} ? ${profile.country.name} : 'unknown'"></span></p>
            <p><b>Birthyear: </b><span th:text="${profile.age == 0}  ? 'unknown' : ${profile.age}"></span></p>
            <p><b>Followers: </b><span th:text="${followers}"></span></p>
          </div>
          <div class="col-2">
            <a th:if="${profile.username == user.username || user.account_type.account_type == 'ADMIN'}" class="btn btn-outline-primary" th:href="'/users/' + ${profile.username} + '/edit'">
              Edit profile details
            </a>
            <a th:if="${profile.username == user.username}" class="btn btn-outline-primary mt-2" th:href="'/users/' + ${profile.username} + '/changepw'">
              Change Password
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h2>Library</h2>

            <div th:if="${library.size() != 0}">
              <div th:each="usersBook, iter: ${library}">
                <div class="card mb-3" style="width: 100%;">
                  <div class="card-body container">
                    <div class="row">
                      <div class="col-10">
                        <button class="btn btn-danger me-1" style="float: right;" th:if="${usersBook.user.username == user.username}" th:id="${usersBook.usersBooks_id}" onclick="deleteUsersBook(event.target)">
                          Remove Book
                        </button>
                        <button class="btn btn-primary me-2" style="float: right;" th:if="${usersBook.user.username == user.username && usersBook.review == null}" th:id="'show-review-form-' + ${usersBook.usersBooks_id}" th:value="${usersBook.usersBooks_id}" onclick="showReviewForm(event.target)">
                          Add Review
                        </button>
                        <button class="btn btn-outline-primary me-2" style="float: right;" th:if="${usersBook.user.username == user.username && usersBook.review != null}" th:id="'edit-review-' + ${usersBook.usersBooks_id}" th:onclick="editReview(event.target, [[${usersBook.review.rating}]]);" th:value="${usersBook.usersBooks_id}" >
                          Edit Review
                        </button>
                        <h5 class="card-title" th:text="${usersBook.book.title}"></h5>
                        
                        <h6 th:text="${usersBook.book.author}"></h6>
                        <h6 th:text="${usersBook.book.published_year}"></h6>
                        <p><b>Reading Status: </b>
                          <br>
                            <select name="" id="" th:if="${usersBook.user.username == user.username}" class="form-select" style="width: 15em; display: inline-block;" onchange="updateReadingStatus(event.target)" th:id="${usersBook.usersBooks_id}">
                              <option value="No status" th:attr="selected=${usersBook.reading_status == 'No status' ? true : false}">No Status</option>
                              <option value="Finished" th:attr="selected=${usersBook.reading_status == 'Finished' ? true : false}">Finished</option>
                              <option value="Wishlist" th:attr="selected=${usersBook.reading_status == 'Wishlist' ? true : false}">Wishlist</option>
                              <option value="Currently reading" th:attr="selected=${usersBook.reading_status == 'Currently reading' ? true : false}">Currently reading</option>
                            </select>
                            <span th:id="'status-change-message-' + ${usersBook.usersBooks_id}" style="display: inline-block;" class="text-success ms-2">

                            </span>
                            <th:block th:switch="${usersBook.reading_status}" th:unless="${usersBook.user.username == user.username}">
                              <br>
                                <span th:case="'No status'" th:text="${usersBook.reading_status}" class="text-secondary"></span>
                                <span th:case="'Finished'" th:text="${usersBook.reading_status}" class="text-success"></span>
                                <span th:case="'Wishlist'" th:text="${usersBook.reading_status}" class="text-danger"></span>
                                <span th:case="'Currently reading'" th:text="${usersBook.reading_status}" class="text-warning"></span>
                                <span th:case="*" th:text="${usersBook.reading_status}" class="text-success"></span>
                            </th:block>
                        </p>
                        <div th:if="${usersBook.review != null}" class="mb-3">
                          <b>Review:
                            <span th:each="i : ${#numbers.sequence(1, usersBook.review?.rating)}" class="fa fa-star checked"></span>
                            <span th:if="${usersBook.review?.rating != 5}" th:each="i : ${#numbers.sequence(1, 5 - usersBook.review?.rating)}" class="fa fa-star"></span>
                          </b>
                          <div th:if="${usersBook.reading_status == 'Finished' && usersBook.review == null}"> No review yet...</div>
                          <div th:unless="${usersBook.reading_status == 'Finished' && usersBook.review == null}">
                            <p class="card-text" th:text="${usersBook.review?.review_text}"></p>
                          </div>
                        </div>

                        <!-- Add review -->
                        <div th:unless="${usersBook.review != null}" class="mb-3 display-none" th:id="'review-form-' + ${usersBook.usersBooks_id}">
                          <b>Add Review</b>
                          <br>
                          Please select rating:
                          <br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'1-rating-' + ${usersBook.usersBooks_id}" value="1" checked>
                            <label class="form-check-label" for="inlineRadio1">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'2-rating-' + ${usersBook.usersBooks_id}" value="2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'3-rating-' + ${usersBook.usersBooks_id}" value="3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'4-rating-' + ${usersBook.usersBooks_id}" value="4">
                            <label class="form-check-label" for="inlineRadio4">4</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'5-rating-' + ${usersBook.usersBooks_id}" value="5">
                            <label class="form-check-label" for="inlineRadio5">5</label>
                          </div>
                          <div>
                            <label for="review-textarea">Please write your review here:</label>
                            <textarea class="form-control" th:id="'review-text-' + ${usersBook.usersBooks_id}" rows="5"></textarea>
                          </div>
                          <button class="btn btn-primary mt-1" onclick="saveReview(event.target)" th:id="${usersBook.usersBooks_id}">
                            Save Review
                          </button>
                          <button class="btn btn-outline-secondary mt-1 ms-1" th:id="${'add-review-cancel-' + usersBook.usersBooks_id}" th:value="${usersBook.usersBooks_id}" onclick="cancelAdding(event.target.value)">
                            Cancel
                          </button>
                        </div>

                        <!-- Edit review -->
                        <div th:if="${usersBook.review != null}" class="mb-3 display-none" th:id="'edit-review-form-' + ${usersBook.usersBooks_id}">
                          <b>Edit Review</b>
                          <br>
                          Please select rating:
                          <br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'edit-1-rating-' + ${usersBook.usersBooks_id}" value="1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'edit-2-rating-' + ${usersBook.usersBooks_id}" value="2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'edit-3-rating-' + ${usersBook.usersBooks_id}" value="3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'edit-4-rating-' + ${usersBook.usersBooks_id}" value="4">
                            <label class="form-check-label" for="inlineRadio4">4</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" th:id="'edit-5-rating-' + ${usersBook.usersBooks_id}" value="5">
                            <label class="form-check-label" for="inlineRadio5">5</label>
                          </div>
                          <div>
                            <label for="review-textarea">Please write your review here:</label>
                            <textarea class="form-control" th:id="'edit-review-text-' + ${usersBook.usersBooks_id}" rows="5" th:text="${usersBook.review.review_text}"></textarea>
                          </div>
                          <button class="btn btn-primary mt-1" th:onclick="saveEditReview([[${usersBook.usersBooks_id}]], [[${usersBook.review.review_id}]]);" th:value="${usersBook.usersBooks_id}">
                            Save Review
                          </button>
                          <button class="btn btn-outline-secondary mt-1 ms-1" th:id="${'cancel-' + usersBook.usersBooks_id}" th:value="${usersBook.usersBooks_id}" onclick="cancelEdit(event.target.value)">
                            Cancel
                          </button>
                        </div>

                        
                      </div>
                      <div class="col-2">
                        <img th:src="${usersBook.book.img_link}" alt="" width="100%">
                      </div>

                      <div class="accordion mt-2" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#' + usersBook.usersBooks_id}" aria-expanded="false" th:aria-controls="${usersBook.usersBooks_id}">
                              <b>Full information</b>
                            </button>
                          </h2>
                          <div th:id="${usersBook.usersBooks_id}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <div class="container">
                                <div class="row">
                                  <div class="col-12">
                                    <p th:text="${usersBook.book.description}"></p>
                                  </div>
                                </div>
  
                                <div class="row">
                                  <div class="col-4">
                                    <b>Page Count</b>
                                    <br>
                                    <span th:text="${usersBook.book.page_count}"></span>
                                  </div>
  
                                  <div class="col-4">
                                    <b>Language</b>
                                    <br>
                                    <span th:text="${usersBook.book.language}"></span>
                                  </div>
  
                                  <div class="col-4">
                                    <b>ISBN</b>
                                    <br>
                                    <span th:text="${usersBook.book.isbn}"></span>
                                  </div>
  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>

                  </div>

                  
                </div>
              </div>
            </div>
            <p th:unless="${library.size() != 0}">No books yet..</p>

          </div>
        </div>       
      </div>
    </main>

    <script>
      const apiBaseUrl = 'http://localhost:8080/api';


      const deleteUsersBook = async (target) => {
        if (!confirm("Are you sure? Removing book also removes possible review.")) {
          return;
        }

        const url = `${apiBaseUrl}/usersbooks/${target.id}`;

        try {
          const response = await fetch(url, { method: "DELETE"} );

          if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
          }
          window.location.href = '/users/' + "[[${user.username}]]";
        } catch (error) {
          console.error(error.message);
        }

      }

      const updateReadingStatus = async (target) => {
        const url = `${apiBaseUrl}/usersbooks/${target.id}`;
        console.log(target.value)
        const statusSpan = document.getElementById('status-change-message-' + target.id);

        //console.log(statusSpan)

        try {
            const response = await fetch(url, {
              method: "PUT",
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                readingStatus: target.value
              })
            });

            if (!response.ok) {
              throw new Error(`Response status: ${response.status}`);
            }

            const result = await response.json();
            console.log(result)
            
            statusSpan.innerHTML = 'Status updated';
            setTimeout(() => {
              statusSpan.innerHTML = '';
            }, 2000)

          } catch (error) {
            console.error(error.message);
          }
      }


      const saveReview = async (target) => {
        const url = `${apiBaseUrl}/reviews`;
        const usersBookNo = target.id;
        const reviewText = document.getElementById(`review-text-${usersBookNo}`).value;
        let rating;

        if (document.getElementById(`1-rating-${usersBookNo}`).checked) {
          rating = 1;
        } else if (document.getElementById(`2-rating-${usersBookNo}`).checked) {
          rating = 2;
        } else if (document.getElementById(`3-rating-${usersBookNo}`).checked) {
          rating = 3;
        } else if (document.getElementById(`4-rating-${usersBookNo}`).checked) {
          rating = 4;
        } else if (document.getElementById(`5-rating-${usersBookNo}`).checked) {
          rating = 5;
        } else {
          return;
        }

        try {
            const response = await fetch(url, {
              method: "POST",
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                review: reviewText,
                rating: rating,
                usersBooksId: usersBookNo
              })
            });

            if (!response.ok) {
              throw new Error(`Response status: ${response.status}`);
            }

            const result = await response.json();
            window.location.href = '/users/' + "[[${user.username}]]";
          } catch (error) {
            console.error(error.message);
          }
      }

      const showReviewForm = (target) => {
        document.getElementById(`review-form-${target.value}`).classList.remove('display-none');
        document.getElementById(`show-review-form-${target.value}`).classList.add('display-none');
      }

      const editReview = (target, rating) => {
        document.getElementById(`edit-${rating}-rating-${target.value}`).click();
        document.getElementById(`edit-review-form-${target.value}`).classList.remove('display-none');
        document.getElementById(`edit-review-${target.value}`).disabled = true;
      }

      const cancelEdit = (target) => {
        console.log(target)
        document.getElementById(`edit-review-form-${target}`).classList.add('display-none');
        document.getElementById(`edit-review-${target}`).disabled = false;
      }

      const cancelAdding = (target) => {
        document.getElementById(`review-form-${target}`).classList.add('display-none');
        document.getElementById(`show-review-form-${target}`).classList.remove('display-none');
      }

      const saveEditReview = async (usersBook_id, review_id) => {
        const url = `${apiBaseUrl}/reviews/${review_id}`;
        const newReviewText = document.getElementById(`edit-review-text-${usersBook_id}`).value;
        let newRating;

        if (document.getElementById(`edit-1-rating-${usersBook_id}`).checked) {
          newRating = 1;
        } else if (document.getElementById(`edit-2-rating-${usersBook_id}`).checked) {
          newRating = 2;
        } else if (document.getElementById(`edit-3-rating-${usersBook_id}`).checked) {
          newRating = 3;
        } else if (document.getElementById(`edit-4-rating-${usersBook_id}`).checked) {
          newRating = 4;
        } else if (document.getElementById(`edit-5-rating-${usersBook_id}`).checked) {
          newRating = 5;
        } else {
          return;
        }

        console.log(newRating)
        console.log(newReviewText)

        try {
            const response = await fetch(url, {
              method: "PUT",
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                review: newReviewText,
                rating: newRating,
              })
            });

            if (!response.ok) {
              throw new Error(`Response status: ${response.status}`);
            }

            const result = await response.json();
            window.location.href = '/users/' + "[[${user.username}]]";
          } catch (error) {
            console.error(error.message);
          }

      }

    </script>

<script th:inline="javascript">

  const userSearch = () => {
    event.preventDefault();
    const uzer = document.getElementById('myInput').value;
    if (!uzer) {
      return;
    }
    window.location.href = `/users/${uzer}`;
  }

  // Autocomplete Searchbox JS from https://www.w3schools.com/howto/howto_js_autocomplete.asp
  function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

var usersForSearch = [[${usernamesForSearch}]];

autocomplete(document.getElementById("myInput"), usersForSearch);

</script>

  </body>
</html>